html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.one{
    background-color: rgb(233, 192, 143);
   
}
/* navbar */
/* footer media icon */
.NavIcons{
    display: inline-block;
    font-size: 1.4em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    padding-left: 25px;
    color:rgb(221, 19, 19) !important; 
    border-radius: 50%;
    
}


.two{
    background-color: rgb(133, 80, 15);
}

/* Scope section */
.ScopeCards{
    margin-left: -2vw;
    
  }
/* footer media icon */
.icon{
    display: inline-block;
    font-size: 1.4em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    color:rgb(221, 19, 19) !important; 
}
